#likee-list-container{
	position: fixed;
	left: 0;
	width: 20%;
	height: 100%;
	overflow: scroll;
	border-top: 3px solid #2f363f;
	border-left: 3px solid #2f363f;
}


#likee-name{
	text-align: center;
	font-family: Arial;
	color: white;
}
#likee-pic{
	width: 75px;
    height: 75px ;
}
#likee-item{
	margin-bottom: 3px;	
	background-color:#2f363f;

}
#staff-item{
	margin-bottom: 3px;
	background-color: #2f363f; 
}



#staff-list-container{
	position: fixed;
	right: 0;
	width: 20%;
	height: 100%;
	overflow: scroll;
	border-top: 3px solid #2f363f;
	border-left: 3px solid #2f363f;
	border-right: 3px solid #2f363f;
}
#staff-pic{
	width: 75px;
    height: 75px ;
}
#company-info{
	margin-bottom: 5px;
	background-color: #2f363f;
	color: white;
}
.navbar
{
	 background-image: linear-gradient(to right, rgb(52,197,208), rgb(78,209,183));
}
.sign
{

	margin-left: 5px;
	background-color: #2f363f;
}
#staff-pic{
	margin-right: 2px;
}
#company-profile-img{
	margin-top: 10px;
	width: 100px;
	height: 100px;
}
#staff-name{
	text-align: center;
	font-family: Arial;
	color: white;
}
#company-name{
	text-align: center;
	font-family: Arial;
	color: black;
}
#company-followers-num{
	text-align: center;
	font-family: Arial;
	font-size: 140%;
	border: 3px solid #202630;
	margin-right: 2px;
	margin-top: 60px;
	margin-left: 30px;
	margin-bottom: 3px;
	color: white;
}
#company-posts-num{
	text-align: center;
	font-family: Arial;
	font-size: 140%;
	border: 3px solid #202630;
	align-self: left;
	margin-top: 60px;
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 3px;
	color:white;
}
#posts-container{
	position: fixed;
	width: 50%;
	height: 100%;
	overflow: scroll;
	border-top: 3px solid #2f363f;
	border-left: 3px solid #2f363f;
	border-right: 3px solid #2f363f;
}

.post{
	width: 100%;
	text-align: center;
	margin-bottom: 3px;

}
#post{
	margin-bottom: 3px;
	background-color:#2f363f; 
}
.postTxt{
	width: 60%;
	height:150px;
	background-color:#202630;
}
.postBtn, .photoBtn{
	border: none;
	background: rgb(52,197,208);
	color: #2f363f;
	width: 30%;
}
.clicks{
	font-color: white;
}
.like{
	border: none;
	background: rgb(52,197,208);
	color: #2f363f;
}
#likeBtn{
	margin-left: 3px;
	margin-right: 3px;
}
#commentBtn{
	margin-left: 3px;
	margin-right: 3px;
}
#chatBtn{
	margin-left: 3px;
	margin-right: 3px;
}

.startchat{
	border: none;
	background: rgb(52,197,208);
	color: #2f363f;
}
.comment{
    border: none;
	background: rgb(52,197,208);
	color: #2f363f;
}

.doneBtn{
	border: none;
	background: rgb(52,197,208);
	color: #2f363f;
	width: 10%;
	visibility: hidden;
}
.chat-popup{
	visibility: hidden;
	float: right;
	border: none;
	border-color: rgb(213,216,220);
}

.form-container {
  border: none;
  background-color: #2f363f;
  max-width: 300px;
  padding: 10px;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
  resize: none;
  min-height: 200px;
}
.msg{
 height: 30px;
 width: 100%;
}

.form-container .btn {
	border: none;
	background: rgb(52,197,208);
	color: #2f363f;
	padding: 5px 5px;
    border: none;
	cursor: pointer;
	width: 49%;
	margin-bottom:5px;
	opacity: 0.8;
}

.form-container .cancel {
	border: none;
	background: rgb(52,197,208);
	color: #2f363f;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;

}

.form-container .cancel {
	border: none;
	background: rgb(52,197,208);
	color: #2f363f;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;

}
.writePost{
	width:90%;
	height:70px;
}
