body{
	background-color: #202630;
}
.navbar
{
	 background-image: linear-gradient(to right, rgb(52,197,208), rgb(78,209,183));
}
.login-panel
{


}
.form-group
{
	border-color: #1c2833;
	align-content: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-top:5% ;
}
.submit
{
	align-content: center;
	margin-left: 20%;
	margin-top:2% ;
	text-align: center;
}

.sign
{

	margin-left: 5px;
	background-color: #2f363f;
}
.login
{
	background-image: linear-gradient(to right, rgb(52,197,208), rgb(78,209,183));

}
.welcome1
{
	text-align:  center;
	font-size: 850%;
	font-family: "Anamortee";
	margin-top: 7%;
}
.welcome2
{
	text-align:  center;
	font-size: 900%;
	font-family: "Anamortee";
	margin-top: 3%;
}
.btn-block
{
	margin-left: 15%;
	margin-top: 17%;
	margin-bottom: 5%;
	width: 70%;
	background-image: linear-gradient(to right, rgb(52,197,208), rgb(78,209,183));

}